<!doctype html>
<html>
<head>
    <title>CHINO | Precious Souvenir</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
    body, html {
        line-height: 1.8;
    }
    /* Full height image header */
    .bgimg-1 {
        background-position: center;
        background-size: cover;
        background-image: url("/images/background.jpeg");
        min-height: 100%;
    }
    .w3-bar .w3-button {
        padding: 16px;
    }
    a: link{
    text-decoration: none !important;
    }
    .w3-top, .w3-bottom{
        position: sticky !important;
    }
    </style>
</head>

<body>

    <!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">CHINO</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="/about" class="w3-bar-item w3-button"> ABOUT US</a>
      <a href="/product" class="w3-bar-item w3-button"><i class="fa fa-th"></i> PRODUCT</a>
      
      <a href="/contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
      <% if (user) { %>
      <a href="/profile" class="w3-bar-item w3-button"><i class="fa fa-user"></i> <%= user.local.username %></a>
      <a href="/indext" class="w3-bar-item w3-button"><i class="fa fa-paint-brush"></i> DESIGN YOURSELF</a>
      <a href="/orderedList/<%= user._id %>" class="w3-bar-item w3-button"><i class="fa fa-paint-brush"></i> YOUR ORDERS</a>
      <a href="/logout" class="w3-bar-item w3-button">LOGOUT</a>
      <% } else { %>
      <a href="/login" class="w3-bar-item w3-button">LOGIN</a>
      <a href="/signup" class="w3-bar-item w3-button">REGISTER</a>
      <% } %>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="/about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT US</a>
  <a href="/product" onclick="w3_close()" class="w3-bar-item w3-button">PRODUCT</a>
  <a href="/contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
  <% if (user) { %>
  <a href="/profile" onclick="w3_close()" class="w3-bar-item w3-button"><%= user.local.email %></a>
  <a href="/indext" onclick="w3_close()" class="w3-bar-item w3-button">DESIGN YOURSELF</a>
  <a href="/orderedList/<%= user._id %>" onclick="w3_close()" class="w3-bar-item w3-button">YOUR ORDERS</a>
  <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button">LOGOUT</a>
  <% } else { %>
  <a href="/login" onclick="w3_close()" class="w3-bar-item w3-button">LOGIN</a>
  <a href="/signup" onclick="w3_close()" class="w3-bar-item w3-button"> REGISTER</a>
  <% } %>
  
</nav>