
<% include ./partials/header %>

   
 <div class="hero-image">

</div> 
<div style="margin-bottom:25%">
<b><h1><center>   <h1 style="color: #7F5454"><font face="preeti"><b>चिनो</b></font></h1></center></b></h1></br>
<left-alignment><div style="color: #800000; margin-left:10%; margin-right:10%"><b>DESIGN what you want, what you like yourself. <font face="preeti">चिनो</font> is a website that will let you to design your t-shirts yourselves or just send pictures so that we can bring it to you. You don't anymore have to waste time searching for printing places or any designers. Be your designer yourself and let your creativity out.</b>
</left-alignment>
</div>


<% include ./partials/footer %>