<% include ./partials/header %>

<!-- About section -->
<div class="bgimg-2 w3-display-container w3-grayscale-min" id="home"> 
    <div class="w3-text-black about-content w3-display-container w3-grayscale-min">
       <div style="padding-bottom: 50px; padding-left: 100px; padding-right: 100px;"> 
     <b><font size=10px> <center> A souvenir, a memory.</center> </font>
      We, a group of 3 WLiT Fellows: Pratibha Shrestha, Neha Adhikari and Angela Shakya have come together to create this website "CHINO" that concedes you to unlesh your creativity and transform your ideas into your wardrobe.
     <p>
     Our website is an e-commerce website which gives the users freedom to design their t-shirts on their own. The users are provided a canvas with realistic image of T-shirt where they can try different designs for the T-shirt. We will provide different clip-arts and icons for the users to choose from to insert in their design along with options to use texts in various fonts, sizes and colors. The users can also customize the clip-arts as their requirement. Both the front and back of the T-shirt can be designed. After the users have send us their designs, we will print it out and deliver to them.

  <P>
  For people who might find it difficult to use the provided widget can also upload their own design in .jpeg format. Various templates of T-shirt design based on current trends and festivals will be uploaded which the users can buy directly.
  <p>
      Gift yourself or your favourite people with a precious memory to remember, because every gift from your loved ones is a wish for your happiness. </font></b> 
      </div>
    </div>
  </div>

<% include ./partials/footer %>